{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero section-->
<div class="image-container">
    <img class="d-block w-90 m-auto first-image" src="{% static 'images/luxury-dining-table.jpg' %}"
        alt="Picture of elegant dining table with candles">
    <h1 class="centered-text">MegaRestaurant</h1>
</div>


<h2 class="text-center heading-space logo-font">Our Venue</h2>
<!-- Restaurant Cards -->

<!--Group of cards-->
<div class="container info-container">
    <div class="row row-cols-1 row-cols-md-3 g-5">
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/cocktail-bar.jpg' %}" class="card-img-top" alt="Image of the cocktail bar">
                <div class="card-body">
                    <h5 class="card-title">The Cocktail Bar</h5>
                    <p class="card-text">
                        The Stunning Cocktail Bar is the jewel in MegaRestaurant. It is a breathtaking design that
                        would
                        sit in any list of the top bars of the world. It can be booked out for all types of events.
                        Late
                        nights start here… Boasting a full bar, private restrooms, grand piano and cloakroom in
                        elegantly decorated surroundings.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/young-waitress-setting-table.jpg' %}" class="card-img-top"
                    alt="Image of a waitress setting up a table at the restaurant">
                <div class="card-body">
                    <h5 class="card-title">Restaurant</h5>
                    <p class="card-text">The main restaurant offers a warm welcome to anyone who enters the
                        building.
                        Its bartenders will always greet you with a smile and be on hand to serve your drink of
                        choice
                        from its vast selection. It has an appeal of a chic French or New York bar set in Dublins
                        city
                        centre that is mesmerising on arrival.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/terrace.jpg' %}" class="card-img-top" alt="Image of the terrace">
                <div class="card-body">
                    <h5 class="card-title">The Terrace Bar</h5>
                    <p class="card-text">
                        The Terrace Bar is the party bar complete with its own Dj set up and sound system. It
                        overlooks
                        the outdoor terrace that hosts all our outdoor events. It can be hired out exclusively
                        for up to 250 guests or as part of The Library and Cocktail Bar to add extra capacity. The
                        bookings team can put together your perfect combination event utilising all of the spaces.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Events Section-->
<h3 class="text-center heading-space logo-font">Events</h3>

<div class="container events-info-container info-container">
    <div class="row">
        <div class="col-sm-12 col-md-6 event-image">
            <img src="{% static 'images/events.jpg' %}" alt="Image of women with masks">
        </div>
        <div class=" col-sm-12 col-md-6">
            <p>Megarestaurant is a classic, cool and sophisticated restaurant with a variety of spaces and food
                options
                to choose from. It is the perfect place to enjoy a night with friends, celebrate special occasions
                with
                family and host corporate events with colleagues.
                <br><br>
                Whether it’s a table quiz, networking event or celebratory party in a relaxed and intimate setting –
                The
                Restaurant,
                Cocktail Bar, Terrace Bar or the entire venue is sure to tick all the boxes. The most
                decadent and sophisticated location for all occasions.
                <br><br>
                we pride ourselves on being a hot spot venue for evening drinks in the capital. We promise good
                food,
                good drink and a good time, in delectably decadent surroundings<br><br>
            </p>
        </div>
    </div>
</div>

<!--Upcoming Events-->
<h3 class="text-center heading-space logo-font">Upcoming Events</h3>
<!--Card Group-->
<div class="container info-container">
    <div class="row row-cols-1 row-cols-md-3 g-5">
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/thursday-night-club.jpg' %}" class="card-img-top"
                    alt="Young people group enjoying Thursdays Night Club">
                <div class="card-body">
                    <h5 class="card-title">Thursday Night Club</h5>
                    <p class="card-text">
                        We are Clubbing it every Thursday for the summer
                        so join us and dance the late night away with our Guest and resident Djs while drinking our
                        DeVine cocktails… We are opening up the terrace bar doors across from the cocktail bar which
                        has been renovated with an extended dancefloor, a new lighting and sound system to raise the
                        roof every Thursday.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Every Thursday</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/saturday-night-club.jpg' %}" class="card-img-top"
                    alt="Cocktails at Saturdays Night Club">
                <div class="card-body">
                    <h5 class="card-title">Saturday Night Club</h5>
                    <p class="card-text">We are delighted to announce our New Saturday Night at MegaRestaurant from
                        5pm
                        every Saturday . We are opening up the terrace bar doors across from the cocktail bar which
                        has
                        been renovated with an extended dancefloor ,a new lighting and sound system making every
                        Saturday Dublin’s biggest night out. Saturday nights at MegaRestaurant just blew up..
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Every Saturday</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'images/christmas-party-nights.jpg' %}" class="card-img-top"
                    alt="Image of women in a Christmas Party">
                <div class="card-body">
                    <h5 class="card-title">Christmas Party Nights</h5>
                    <p class="card-text">
                        We have a variety of offerings from a la carte lunches, 3 course set menus, platters
                        to a buffet for the larger groups. We have several exclusive areas available, such as
                        The Terrace Bar, or The Cocktail Bar which all can be booked
                        out just for your event. Enjoy the festive season at MegaRestaurant.
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Available upon request</small>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}